:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  justify-content: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1d40db;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  place-items: center;
  border : 3px solid rgb(248, 243, 243);
  max-width: 600px;
  min-height: 500px;
  padding: 2rem;
}

h4{
  color: aqua;
}
.movieInput{
  max-width: 15rem;
  margin-left: 2rem;
}
.movieTab{
  display: flex;
  gap: 3rem;
}
input{
  background-color: #f9f9f9;
  color : black;
}
.watched{
   margin-top: 3rem;
   text-align: center;
   max-width: 80%;
   border: 1px solid rgb(236, 223, 223);
   margin-left: 3rem;
   height: 10rem;
}
h5{
  font-size: 1.2rem;
  color: #46d61e;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
